/* Importing google font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

#preloader {
    background: #fff url(Assets/Preloader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100000;
}

.call-now-main {
    position: fixed;
    bottom: 40px;
    right: 20px;
    text-align: right;
    z-index: 10;
}

.heading {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    font-weight: 400;
    color: black;
    margin-top: 80px;

    span {
        /* color: #5372F0; */
        color: #FF725E;
    }
}



/* HEader - navbar */


header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 8%;
    z-index: 100000;
    display: flex;
    align-items: center;
    height: 80px;
    width: 100vw;
    background-color: #ffff;

}


.logo {
    margin-right: auto;
    width: 150px;
    height: 60px;

}


.logo img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 2.4vw;
}

nav {

    a {
        margin-left: 2rem;
        font-size: 1.7rem;
        color: black;
        text-decoration: none;
        outline: none;
        margin-top: -10vh;

        &:hover {
            color: #ec4a22;
        }


    }


    #nav-close {
        font-size: 5rem;
        cursor: pointer;
        color: black;
        display: none;
    }

}

.icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: black;
}

#menu-btn {
    display: none;
}

.nav {
    margin-left: 40vw;

}

.navbar {
    margin-top: -60px;
}

/* Header End Nav Bar */






/* Englis page style starts */


.main-course {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100vh;
/*     background-color: #ec4a22; */
    background-color:#fff;
}

.course-content {
    display: flex;
    flex-direction: column;
    /* background-color: #ece8e8; */
    width: 55vw;
    height: 50vh;
    margin-top: 200px;
    margin-left: 30px;
    gap: 30px;
}
.course-content h1{
     font-size: 3vw;
     color: #ec4a22;
     margin-left: 40px;
}

.course-content p{
    margin-left: 3vw;
    font-size: 1.3vw;
    color: rgb(34, 33, 33);

}

.course-content ul{
    margin-left: 6vw;
    font-size: 1.3vw;
    color: rgb(6, 43, 54);
}

.main-course ul li {
    margin-bottom: 10px;
}
.course-img {
    width: 30vw;
    height: 60vh;
    /* background-color: aqua; */
    display: flex;
    margin-top: 150px;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image doesn't overflow the container */
    border-radius: 20px;
}

.course-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fills the div and maintains aspect ratio */
}


 .course-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #ec4a22;
    padding: 50px;
}

.course-class-details {
    width: 80%;
    height: auto;
    background-color: #fff;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
}

.course-class-details h1{
    font-size: 3vw;
    color: #ec4a22;
}









/* English page Ends */














/* Testnomines starts */


.testimonials__grid {
    width: 90vw;
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    /* Centering the grid */
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    /* Allows items to wrap to the next line */
    justify-content: center;
    /* Center content horizontally */
    box-sizing: border-box;
    /* Ensures padding and borders are included in the width */
}

.card {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    background-color: var(--extra-light);
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;

}

.card i {
    font-size: 2.5rem;
    color: gold;
    display: flex;
    align-items: center;
}

.card p {
    font-size: 1rem;
    font-weight: 500;
}

.card hr {
    width: 40px;
    margin: auto;
    color: var(--text-light);
}

.card img {
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 100%;
    border: 1px solid var(--primary-color);
}

.card .name {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-light);
    transition: 0.3s;
}

.card .name:hover {
    color: var(--primary-color);
}





/* Testnomines ends */




/* Course starts */

.course {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-top: -150px;
    /* background: linear-gradient(#ECEFFE, #CED6FB); */

}

.card-wrapper {
    max-width: 1400px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.card-list .card-item {
    list-style: none;
}


.card-list .card-item .card-link {
    user-select: none;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .8);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}


.card-list .card-item .card-link:hover {
    border-color: #FF725E;
}



.card-list .card-link .card-image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}


.card-list .card-link .badge {
    color: #FF725E;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #DDE4FF;
    width: fit-content;
    border-radius: 50px;
}



.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: #000;
    font-weight: 600;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #FF725E;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #FF725E;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: #FF725E;
}


.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #FF725E;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: #FF725E;
    margin-top: -35px;
}



/* course end */








/* Contact upper starts */



.contact-container {
    display: flex;
    /* Display as flex container */
    flex-direction: row;
}


.contact-container .contact-info {
    width: 40vw;
    height: 70vh;
    background-color: #ec4a22;
    margin-left: 10vw;
    border-radius: 20px 0 0 20px;
}

.map {
    width: 40vw;
    height: 70vh;
    background-color: #767268;
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    /* Optional: Hides overflowing content */
}

.map iframe {
    width: 100%;
    height: 100%;
}



.contact-container .contact-info h2 {
    font-size: 3rem;
    margin-left: 100px;
    margin-top: 30px;
}

.contact-container .contact-info p {
    font-size: 1.3rem;
    margin-top: 30px;
    margin-left: 40px;
    line-height: 2rem;
}

.contact-container .contact-info h3 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-left: 50px;
}

.contact-container .contact-info h3 span {
    color: #ece8e8;
}

.contact-container .contact-info h3 a {
    text-decoration: none;
}






/* Contacts upper Ends */






/* Footer starts */


.footer {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(Assets/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 200px;

    .box-container {
        @include grid(25rem);
        margin-left: 100px;

        display: flex;
        flex-direction: row;
        gap: 15;

        .box,
        .box1,
        .box2 {

            h3 {
                font-size: 2rem;
                padding: 1.5rem 0;
                color: #fff;
            }

            a {
                display: block;
                font-size: 1.4rem;
                color: #fff;
                padding: 1rem 0;
                text-decoration: none;

                i {
                    color: #ec4a22;
                    padding-right: .5rem;

                }

                &:hover {
                    color: #ec4a22;

                    i {
                        padding-right: 2rem;
                    }
                }
            }



        }
    }
}

.footer {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(Assets/footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px 0;
    /* Add padding to the footer */
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* Center align the boxes horizontally */
    gap: 30px;
    /* Add gap between the boxes */
}

.box,
.box1,
.box2 {
    width: calc(25% - 15px);
    /* Calculate box width with gap */
    /* padding: 10px; */

    border-radius: 10px;
    /* Example border radius */
    text-align: center;
}





.credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    color: #fff;

    span {
        color: #ec4a22;
    }
}


/* Footer ends */







/* For Responsiveness  */
@media (max-width: 1450px) {

    header {

        #menu-btn {
            display: inline-block;
            margin-left: 84vw;
        }

        .logo img {
            margin-top: 6vh;
        }

        .nav {
            position: fixed;
            top: 0;
            left: -140%;
            background: #fff;
            z-index: 10000000;
            width: 35rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &.active {
                left: -50%;
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);

            }

            a {
                margin: 1rem 0;
                font-size: 2.5rem;

            }

            #nav-close {
                display: block;
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 3rem;
            }

        }
    }







    /* englsi page strarts */


    .main-course {
        display: flex;

        flex-direction: column; /* Stack content vertically */
        height: auto; /* Allow height to adjust to content */
        align-items: center; /* Center align content */
    }


    .course-content {
        width: 80%;
    
        margin-right: 20px;
        margin-top: 150px;
        height: auto;

    }

    .course-img {
        height: 30vh;
        width: 80%;
        margin-right: 100px;
        margin-top: 60px;
        margin-bottom: 30px;

    }

    .course-details {
        height: auto;
        margin-top: -10px;
    }

    .course-class-details {
        height: auto;
        margin: 30px 0 ;
    }

    .course-content h1{
        font-size: 6vw;
        margin: 0;
    }
    
    .course-content p{
        font-size: 2.3vw;
    }
    .course-content ul{
        font-size: 2.3vw;
    }






    /* english page ends */











    /* contat us  starts */


    .contact-container {
        flex-direction: column;
        margin-left: 0;
    }

    .contact-container .contact-info {
        width: 70vw;
        height: 60vh;
        border-radius: 20px 20px 0 0;
    }



    .map {
        width: 70vw;
        height: 40vh;
        margin-left: 10vw;
        border-radius: 0 0 20px 20px;
    }


    /* Contat us ends */


    /* Fotter starts */



    .Contact ul li {
        font-size: 6vw;
    }


    .box-container {
        flex-direction: column;
        /* Change flex direction to column on smaller screens */
        align-items: center;
        justify-content: center;
        margin-right: 90px;


    }


    .box {
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .box1,
    .box2 {
        display: none;
    }


    /* Footerc ends */





}












/* Responsive For MObails */
@media (max-width : 700px) {

    header {
        #menu-btn {
            margin-left: 80vw;
        }

        .nav {
            position: fixed;
            top: 0;
            left: -230%;
            background: #fff;
            z-index: 10000;
            width: 19rem;
            height: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            &.active {
                left: -50%;
            }

            a {
                margin: 1rem 0;
                font-size: 2rem;
            }

        }


        .logo img {
            margin-top: 5vh;
        }
    }





    /* English starts */

    
    .course-content h1{
        font-size: 10vw;
    }
    
    .course-content p{
        font-size: 4.3vw;
    }
    .course-content ul{
        font-size: 4.3vw;
    }

    .course-details {
/*         display: none; */
        background-color: #fff;
    }

    .course-details .course-class-details {
        width: 100%;
    }


    .course-details .course-class-details h1 {
        font-size: 6vw;
    }


    

    /* English ends */





















    /*testnomines Starts */

    .testimonials__grid {
        flex-direction: column;


    }

    /* Testnomines ends */



    
    /* Course card slider starts */

    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }





    /* Contact us starts */


    .contact-container .contact-info {
        width: 80vw;
        height: 70vh;

    }

    .map {
        width: 80vw;
        height: 50vh;
    }

    .contact-container .contact-info h2 {
        font-size: 6vw;
        margin-left: 35px;

    }

    .contact-container .contact-info p {
        font-size: 3.6vw;
        line-height: 1.5;
    }

    .contact-container .contact-info h3 {
        font-size: 4vw;
    }


    /* Contact us ends */


}
